{
	"plugins": [
		"prettier-plugin-astro"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"semi": false,
	"arrowParens": "always",
	"bracketSameLine": true,
	"singleQuote": true
}
