html, body {
	margin: 0;
	padding: 0;
	background: radial-gradient(#09F, #00133a);
	font-family: "Lato", sans-serif;
}

main {
	margin: 0 auto 1rem auto;
	width: 96%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.7);
	background: #eaebea;
	text-align: center;
}

.util-hide {
  opacity: 0;
	pointer-events: none;
}

.util-show {
  opacity: 1;
	pointer-events: all;
}

.util-fake-disabled {
	opacity: .3;
}

#posts-v1 h2 {
	display: inline-block;
	padding: 0.1rem 1rem;
	background: #ede40d;
}

#posts-after-v2 h2 {
	display: inline-block;
	padding: 0.1rem 1rem;
	background: #75f151;
}

#test-progress {
	width: 320px;
	height: 32px;
}

.progress-error {
	accent-color: rgb(148, 14, 14);
}

.progress-success {
	accent-color: #04bc41;
}

.component-container {
  display: inline-block;
  width: 45%;
  padding: 0 1rem;
  margin: auto;
	text-align: left;
}

#test-container {
  padding: 2rem 1rem;
  margin: auto;
}

#btn-test-reload {
	appearance: none;
	background: rgba(0, 0, 0, 0);
	border: 0;
	height: 2.3rem;
	font-size: 2.3rem;
	line-height: 2.3rem;
  transition: opacity 0.4s linear;
}

#btn-test-reload:hover {
	cursor: pointer;
}

#test-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

#btn-test {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #09f, #005);
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
	transition: all 300ms linear;
}

#btn-test:disabled {
	filter: grayscale(1);
	cursor: not-allowed;
	pointer-events: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

#btn-test:hover {
  background: linear-gradient(to bottom right, rgb(15, 19, 141), #005);
}

#test-result {
	padding-top: 2rem;
}

#test-result p {
  transition: opacity 0.4s linear;
}

#test-error {
	padding: 1rem;
	background: #7f1c1c;
	color: #FFF;
}

#test-posts {
	transition-duration: 2s;
}

#test-info {
	font-style: italic;
}
