---
import PostExcerpt from '../../../index'
import { PropHeadings } from '../../../src/PropHeadings.astro';

const posts = await Astro.glob('../blog/*.md')
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    {posts.map((post) =>
		<PostExcerpt post={post} words={14} headings={PropHeadings.strip} />
		<br>
		<br>
		)}
  </body>
</html>
