---
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";

const posts = await Astro.glob('../blog/*.md')
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    {posts.map((post) =>
		<PostExcerpt post={post} words={14} headings={PropHeadings.None} smartEllipsis={false} renderer={PropRenderer.Hybrid} />
		<br>
		<br>
		)}
  </body>
</html>
