---
import PostExcerpt, { PropHeadings, PropRenderer } from '../../../index'

const posts = await Astro.glob('../blog/*.md')
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    {posts.map((post) =>
		<PostExcerpt post={post} words={14} headings={PropHeadings.None} smartEllipsis={true} renderer={PropRenderer.Hybrid} />
		<br>
		<br>
		)}
  </body>
</html>
